.FormProgress {
  height: 10px;
  border: 1px solid lightgray;
  border-radius: 30px;
  background-color: white;
  width: 70%;
  margin: auto;
  margin-top: 10px;
}

.FormProgress__Bar {
  background-color: rgb(106, 233, 106);
  height: 100%;
  transition: height 1s ease-in;
}
